@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Slab:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cor-primaria: rgb(255,194,52);
    --cor-secundaria: rgb(65,31,9);
    --cor-terciaria: rgb(223,28,28);
    font-size: 16px;
  }

    .container-header{
    background-color: var(--cor-primaria);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 15px 50px;
    }

    .header-menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
    font-family: 'Oswald', sans-serif;
    }

    .header-menu ul ,li, a {
    text-decoration: none;
    color: var(--cor-secundaria);
    }

    .header-menu ul, li, a:hover {
        color: var(--cor-terciaria);
    }

    .main{
        background-color: var(--cor-primaria);

        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
        width: 100%;
        padding: 150px 50px;
        
    }

    .main-title{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;

        font-family: 'Roboto Slab', serif;
        color: var(--cor-secundaria);
    }

    .main-title h1{
        font-size: 9rem;
    }

    .main-title h2{
        font-size: 6rem;
    }

    .main-figure{
        display: flex;
        flex-wrap: wrap;

        position: relative;
        top: 0;
        left: 0;

        align-items: center;
        width: 50%;
          
    }

    .image-lanche {
        position: relative;
        top: 0;
        left: 0;
        
        width: 700px;
        height: 550px;    
    }
    
    .image-preco {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 200px;
        height: 200px;
    }

    .section-text{
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        gap: 10px;

        font-family: 'Roboto Slab', serif;
    }

    .section-text h2{
        display: inline-block;
        background-color: var(--cor-primaria);
        padding: 10px;
        color: var(--cor-secundaria);
        
        align-items: center;
        justify-content: center;
    }

    .section-text h3{
        font-size: 3rem;
        color: var(--cor-secundaria);
        font-weight: 900px;
    }
    
    .section-text p{
        color: var(--cor-secundaria);
        font-size: 1.1rem;
        margin: 0px 250px;
        text-align: center;
        padding: 20px;
    }

    .container-cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        gap: 15px;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
    }

    .img-lanches{
        width: 320px;
        height: 270px;
    } 

    .card{
        width: 30%;
        flex-direction: column;
    }

    .card h2{
        font-family: 'Roboto Slab', serif;
        font-size: 2rem;
        color: var(--cor-secundaria);
        margin: 10%;
    }

    .card p{
        font-family: 'Roboto Slab', serif;
        font-size: 1rem;
        color: var(--cor-secundaria);
        margin: 10% 10%;
    }

    .card-text{
        gap: 20px;
        width: 100%;
        margin-top: 15%;
    }

    .btn{
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: var(--cor-terciaria);
        border: none;
        padding: 10px 20px;
        cursor:pointer;
    }

    .btn a{
        font-family: 'Roboto Slab', serif;
        padding: 10px 20px;
        font-size: 20px; 
        color: white;
        text-decoration: none;
        outline: none;
        display: inline-block;
        transition: all 0.3s;
    }
    
    .btn:hover {
        transform: scale(0.95); 
    }

    .section-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 75px;
        padding: 50px 25px;
      }
      
      .section-text2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        font-family: 'Roboto Slab', serif;
        color: var(--cor-secundaria);
    }

    .section-text2 h2{
        font-size: 1.5rem ;
    }

    .section-text2 h3{
        font-size: 4rem ;
    }

      .sec-form {
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      
      .col1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      
      input[type="text"], input[type="date"],
      input[type="number"], input[type="email"],
      input[type="time"] {
        width: 350px;
        height: 50px;
        border-radius: 7px;
        border: none;
        background-color: var(--cor-primaria);
        padding: 10px 10px;
        font-size: 1rem;
      }
      
      input[type="submit"] {
        width: 350px;
        height: 50px;
        border: none;
        border-radius: 7px;
        background-color: var(--cor-terciaria);
        color: white;
        font-size: 1rem;
        transition: all 0.3s;
      }
      
      input[type="submit"]:hover {
        transform: scale(0.95); 
        cursor:pointer;
    }
      
      input[type="text"]::placeholder {
        color: var(--cor-secundaria);
      }
      
      input[type="email"]::placeholder {
        color: var(--cor-secundaria);
      }
      
      input[type="number"]::placeholder {
        color: var(--cor-secundaria);
      }
      
      .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-image: url(../img/rodape/fundo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
        padding: 50px 50px;
        width: 100%;
      }

      .footer-text p{
        color: white;
        padding: 20px;
        width: 50%;
        
      }

      .container-footer span{
        color: white;
        padding: 20px;
        

      }

      .footer-text,
      .footer-text2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 100px;
        font-family: 'Roboto Slab', serif ;
      }
      
      
      .footer-text span{
        color: white;
      }
      

      .container-footer{
        display: flex;
        width: 40%;
        flex-direction: column;
        gap: 20px;
        
      }

      .container-social{
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content:center;
      }

      .footer-text2 span{
        font-size: 14px;
        align-items: center;
        text-align: center;
      }
     